<div ng-controller="DonorsController">
    <div class="well col-md-12">
      <h3>Cadastre seus dados de Doador:</h3>
      <form ng-submit="addDonor()">
          <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" ng-model="newDonor.name" class="form-control" placeholder="Nome" />
          </div>
          <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="text" ng-model="newDonor.cpf" class="form-control" placeholder="CPF" />
            {{newDonor.cpf}}
          </div>
          <div class="form-group">
            <label for="birth-date">Data de Nascimento:</label>
            <input type="date" ng-model="newDonor.birth_date" id="birth-date" class="form-control" />
          </div>
          <div class="form-group">
            <label for="sex">Sexo:</label>
            <select ng-model="newDonor.sex" class="form-control" id="Sexo">
            	<option value="Masculino">Masculino</option>
            	<option value="Feminino">Feminino</option>
            </select>
          </div>
          <div class="form-group">
            <label for="contact">Contato:</label>
            <input type="text" id="contact" ng-model="newDonor.contact" class="form-control" placeholder="Contato" />
          </div>  
          <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" ng-model="newDonor.email" class="form-control" placeholder="Email" />
          </div>
          <div class="form-group">
            <label for="blood-type">Blood Type:</label>
            <input type="blood-type" ng-model="newDonor.blood_type" class="form-control" placeholder="Email" />
          </div>
           <div class="form-group">
            <label for="street">Endereço:</label>
            <input type="street" ng-model="newDonor.address.street" class="form-control" placeholder="Email" />
          </div>
           <div class="form-group">
            <label for="number">Número:</label>
            <input type="number" ng-model="newDonor.address.number" class="form-control" placeholder="Email" />
          </div>
          <div class="form-group">
            <label for="city">Cidade:</label>
            <input type="city" ng-model="newDonor.address.city" class="form-control" placeholder="Email" />
          </div>
          <div class="form-group">
            <label for="state">Estado:</label>
            <input type="state" ng-model="newDonor.address.state" class="form-control" placeholder="Email" />
          </div>
          <div class="form-group">
            <label for="pais">País:</label>
            <input type="pais" ng-model="newDonor.address.country" class="form-control" placeholder="Email" />
          </div>
          <div class="form-group">
            <label for='health-info'>Informações de Saúde:</label>
            <textarea ng-model="newDonor.health_info" class="form-control" ></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Add Visitor" class="btn btn-primary" />
          </div>
      </form>
    </div>
  </div>

