<div ng-controller="DonorsController">
    <div class="well">
      <h3>Add a new Visitor</h3>
      <form ng-submit="addDonor()">
        <div class="row">
          <div class="col-xs-6">
            <input type="text" ng-model="newDonor.name" class="form-control" placeholder="First Name" />
          </div>
          <div class="col-xs-6">
            <input type="text" ng-model="newDonor.cpf" class="form-control" placeholder="Last Name" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <br />
            <input type="text" ng-model="newDonor.email" class="form-control" placeholder="Reason for Visit" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <br />
            <input type="Submit" value="Add Visitor" class="btn btn-primary" />
          </div>
        </div>
      </form>
    </div>
